[submodule "third_party/winipt"]
	path = third_party/winipt
	url = https://github.com/ionescu007/winipt
[submodule "third_party/processor-trace"]
	path = third_party/processor-trace
	url = https://github.com/01org/processor-trace
[submodule "third_party/TinyInst"]
	path = third_party/TinyInst
	url = https://github.com/googleprojectzero/TinyInst.git
